{% extends "base.html.twig" %}

{% block title 'Home' %}

{% block body %}
<div class="bg-light py-5 text-center">
    <h1 class="py-3">Agence Immo</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<div class="container">
<h2>Les derniers biens</h2>
<div class="row flex">
    {% for property in properties %}
        <div class="col-3">
          {% include 'property/_property.html.twig' %}
        </div>
      {% endfor %}
</div>
</div>
{% endblock %}